In [91]:
import pandas as pd

In [92]:
pokemon_df = pd.read_csv('pokemon.csv')

In [93]:
pokemon_df.drop(['is_sublegendary','is_legendary','is_mythical'],axis=1, inplace=True)
pokemon_df.rename(columns={'national_number':'Nº'},inplace=True)

In [94]:
pokemon_df.head(10)

,Nº,gen,Name,primary_type,secondary_type,percent_male,percent_female,height_m,weight_kg,capture_rate,...,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy,gigantamax,mega_evolution,mega_evolution_alt
0,1,I,Bulbasaur,grass,poison,88.14,11.86,0.7,6.9,45,...,1.00,1.0,1.0,1.0,1.0,1.0,0.5,NaN,NaN,NaN
1,2,I,Ivysaur,grass,poison,88.14,11.86,1.0,13.0,45,...,1.00,1.0,1.0,1.0,1.0,1.0,0.5,NaN,NaN,NaN
2,3,I,Venusaur,grass,poison,88.14,11.86,2.0,100.0,45,...,1.00,1.0,1.0,1.0,1.0,1.0,0.5,Gigantamax Venusaur,Mega Venusaur,NaN
3,4,I,Charmander,fire,NaN,88.14,11.86,0.6,8.5,45,...,0.50,2.0,1.0,1.0,1.0,0.5,0.5,NaN,NaN,NaN
4,5,I,Charmeleon,fire,NaN,88.14,11.86,1.1,19.0,45,...,0.50,2.0,1.0,1.0,1.0,0.5,0.5,NaN,NaN,NaN
5,6,I,Charizard,fire,flying,88.14,11.86,1.7,90.5,45,...,0.25,4.0,1.0,1.0,1.0,0.5,0.5,Gigantamax Charizard,Mega Charizard X,Mega Charizard Y
6,7,I,Squirtle,water,NaN,88.14,11.86,0.5,9.0,45,...,1.00,1.0,1.0,1.0,1.0,0.5,1.0,NaN,NaN,NaN
7,8,I,Wartortle,water,NaN,88.14,11.86,1.0,22.5,45,...,1.00,1.0,1.0,1.0,1.0,0.5,1.0,NaN,NaN,NaN
8,9,I,Blastoise,water,NaN,88.14,11.86,1.6,85.5,45,...,1.00,1.0,1.0,1.0,1.0,0.5,1.0,Gigantamax Blastoise,Mega Blastoise,NaN
9,10,I,Caterpie,bug,NaN,50.2,49.8,0.3,2.9,255,...,1.00,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN

# Ranking dos melhores Pokémon de cada tipo por Atríbuto

In [95]:
tipo = input('Informe o tipo do pokemon (em ingês): ')
selecao_tipo = (pokemon_df['primary_type'] == tipo) & (pokemon_df['gen'] != 'VIII') & (pokemon_df['gen'] != 'VII') & (pokemon_df['gen'] != 'VI')
pokemon_tipo = pokemon_df[selecao_tipo]

Informe o tipo do pokemon (em ingês): dark

In [96]:
quantidade_pokemon=pokemon_tipo.shape[0]
print(f'Pokémon tipo: {tipo}')
print(f'Quantidade de Pokémon: {quantidade_pokemon}')

Pokémon tipo: dark
Quantidade de Pokémon: 25

In [97]:
ranking_tipo = pokemon_tipo[['Nº','gen','Name','primary_type','height_m','weight_kg','hp','attack','defense','sp_attack','sp_defense','speed']]

In [98]:
ranking_tipo.describe().round(2)

,Nº,height_m,weight_kg,hp,attack,defense,sp_attack,sp_defense,speed
count,25.00,25.00,25.00,25.00,25.00,25.00,25.00,25.00,25.00
mean,452.88,0.98,34.49,64.64,85.52,66.64,69.52,66.84,75.76
std,167.22,0.41,32.77,19.14,23.19,24.06,30.12,24.41,25.38
min,197.00,0.40,2.10,35.00,50.00,30.00,30.00,30.00,35.00
25%,262.00,0.60,11.80,50.00,65.00,50.00,45.00,50.00,60.00
50%,509.00,1.00,28.00,65.00,85.00,65.00,60.00,65.00,70.00
75%,624.00,1.20,39.50,70.00,95.00,75.00,85.00,80.00,95.00
max,635.00,1.80,160.00,110.00,130.00,115.00,135.00,130.00,125.00

# Top 10 Pokémon - Melhor HP

In [99]:
ranking_tipo.sort_values('hp',ascending=False,ignore_index=True).head(10)

,Nº,gen,Name,primary_type,height_m,weight_kg,hp,attack,defense,sp_attack,sp_defense,speed
0,630,V,Mandibuzz,dark,1.2,39.5,110,65,105,55,95,80
1,430,IV,Honchkrow,dark,0.9,27.3,100,125,52,105,52,71
2,197,II,Umbreon,dark,1.0,27.0,95,65,110,60,130,65
3,635,V,Hydreigon,dark,1.8,160.0,92,105,90,125,90,98
4,229,II,Houndoom,dark,1.4,35.0,75,90,50,110,80,95
5,634,V,Zweilous,dark,1.4,50.0,72,85,70,65,70,58
6,262,III,Mightyena,dark,1.0,37.0,70,90,70,60,60,70
7,461,IV,Weavile,dark,1.1,34.0,70,120,65,45,85,125
8,491,IV,Darkrai,dark,1.5,50.5,70,90,90,135,90,125
9,629,V,Vullaby,dark,0.5,9.0,70,55,75,45,65,60

# Top 10 Pokémon - Melhor Ataque

In [100]:
ranking_tipo.sort_values('attack',ascending=False,ignore_index=True).head(10)

,Nº,gen,Name,primary_type,height_m,weight_kg,hp,attack,defense,sp_attack,sp_defense,speed
0,359,III,Absol,dark,1.2,47.0,65,130,60,75,60,75
1,430,IV,Honchkrow,dark,0.9,27.3,100,125,52,105,52,71
2,625,V,Bisharp,dark,1.6,70.0,65,125,100,60,70,70
3,461,IV,Weavile,dark,1.1,34.0,70,120,65,45,85,125
4,571,V,Zoroark,dark,1.6,81.1,60,105,60,120,60,105
5,635,V,Hydreigon,dark,1.8,160.0,92,105,90,125,90,98
6,215,II,Sneasel,dark,0.9,28.0,55,95,55,35,75,115
7,262,III,Mightyena,dark,1.0,37.0,70,90,70,60,60,70
8,229,II,Houndoom,dark,1.4,35.0,75,90,50,110,80,95
9,491,IV,Darkrai,dark,1.5,50.5,70,90,90,135,90,125

# Top 10 Pokémon - Melhor Defesa

In [101]:
ranking_tipo.sort_values('defense',ascending=False,ignore_index=True).head(10)

,Nº,gen,Name,primary_type,height_m,weight_kg,hp,attack,defense,sp_attack,sp_defense,speed
0,560,V,Scrafty,dark,1.1,30.0,65,90,115,45,115,58
1,197,II,Umbreon,dark,1.0,27.0,95,65,110,60,130,65
2,630,V,Mandibuzz,dark,1.2,39.5,110,65,105,55,95,80
3,625,V,Bisharp,dark,1.6,70.0,65,125,100,60,70,70
4,491,IV,Darkrai,dark,1.5,50.5,70,90,90,135,90,125
5,635,V,Hydreigon,dark,1.8,160.0,92,105,90,125,90,98
6,302,III,Sableye,dark,0.5,11.0,50,75,75,65,65,50
7,629,V,Vullaby,dark,0.5,9.0,70,55,75,45,65,60
8,262,III,Mightyena,dark,1.0,37.0,70,90,70,60,60,70
9,624,V,Pawniard,dark,0.5,10.2,45,85,70,40,40,60

# Top 10 Pokémon - Melhor Ataque Especial

In [102]:
ranking_tipo.sort_values('sp_attack',ascending=False,ignore_index=True).head(10)

,Nº,gen,Name,primary_type,height_m,weight_kg,hp,attack,defense,sp_attack,sp_defense,speed
0,491,IV,Darkrai,dark,1.5,50.5,70,90,90,135,90,125
1,635,V,Hydreigon,dark,1.8,160.0,92,105,90,125,90,98
2,571,V,Zoroark,dark,1.6,81.1,60,105,60,120,60,105
3,229,II,Houndoom,dark,1.4,35.0,75,90,50,110,80,95
4,430,IV,Honchkrow,dark,0.9,27.3,100,125,52,105,52,71
5,510,V,Liepard,dark,1.1,37.5,64,88,50,88,50,106
6,198,II,Murkrow,dark,0.5,2.1,60,85,42,85,42,91
7,228,II,Houndour,dark,0.6,10.8,45,60,30,80,50,65
8,570,V,Zorua,dark,0.7,12.5,40,65,40,80,40,65
9,359,III,Absol,dark,1.2,47.0,65,130,60,75,60,75

# Top 10 Pokémon - Melhor Defesa Especial

In [103]:
ranking_tipo.sort_values('sp_defense',ascending=False,ignore_index=True).head(10)

,Nº,gen,Name,primary_type,height_m,weight_kg,hp,attack,defense,sp_attack,sp_defense,speed
0,197,II,Umbreon,dark,1.0,27.0,95,65,110,60,130,65
1,560,V,Scrafty,dark,1.1,30.0,65,90,115,45,115,58
2,630,V,Mandibuzz,dark,1.2,39.5,110,65,105,55,95,80
3,491,IV,Darkrai,dark,1.5,50.5,70,90,90,135,90,125
4,635,V,Hydreigon,dark,1.8,160.0,92,105,90,125,90,98
5,461,IV,Weavile,dark,1.1,34.0,70,120,65,45,85,125
6,229,II,Houndoom,dark,1.4,35.0,75,90,50,110,80,95
7,215,II,Sneasel,dark,0.9,28.0,55,95,55,35,75,115
8,559,V,Scraggy,dark,0.6,11.8,50,75,70,35,70,48
9,634,V,Zweilous,dark,1.4,50.0,72,85,70,65,70,58

# Top 10 Pokémon - Melhor Velocidade

In [104]:
ranking_tipo.sort_values('speed',ascending=False,ignore_index=True).head(10)

,Nº,gen,Name,primary_type,height_m,weight_kg,hp,attack,defense,sp_attack,sp_defense,speed
0,461,IV,Weavile,dark,1.1,34.0,70,120,65,45,85,125
1,491,IV,Darkrai,dark,1.5,50.5,70,90,90,135,90,125
2,215,II,Sneasel,dark,0.9,28.0,55,95,55,35,75,115
3,510,V,Liepard,dark,1.1,37.5,64,88,50,88,50,106
4,571,V,Zoroark,dark,1.6,81.1,60,105,60,120,60,105
5,635,V,Hydreigon,dark,1.8,160.0,92,105,90,125,90,98
6,229,II,Houndoom,dark,1.4,35.0,75,90,50,110,80,95
7,198,II,Murkrow,dark,0.5,2.1,60,85,42,85,42,91
8,630,V,Mandibuzz,dark,1.2,39.5,110,65,105,55,95,80
9,359,III,Absol,dark,1.2,47.0,65,130,60,75,60,75